body {
    background-color: #000000;
    }

h1 {
    color:azure;
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    float: left;
    color:#fff;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    float: left;
    padding: 8px 16px;
    font-size: 30px;
    color:azure;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

li a:hover {
    color:#FF2626;
  }

  a:-webkit-any-link {
    color:#fff;
    cursor: pointer;
    text-decoration: none;
}

.headertext {
    padding-top: 50px;
    font-size: 100px;
}